<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Joystick Driver -->
  <node pkg="joy" type="joy_node" name="joy">
    <param name="dev" value="/dev/input/js0"/>
    <param name="autorepeat_rate" value="10"/>
  </node>

  <!-- Joystick Teleop -->
  <!-- <rosparam file="$(find vrx_gazebo)/config/diffdrive.yaml" command="load"/>
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
    <remap from="cmd_vel" to="cmd_vel" />
  </node> -->

  <!-- Parameters -->
  <arg name="boat_type" default="single"/>

  <!-- Single motor boat -->
  <group if="$(eval arg('boat_type') == 'single')">
  <!-- cpp -->
    <!-- <node pkg="auto_drive" type="auto_drive" name="auto_drive_node" output="screen" args="single">   -->
      <!-- python -->
    <node pkg="auto_drive" type="autodrive.py" name="auto_drive_node" output="screen" args="single">  
      <param name="boat_type" value="single"/>
      <remap from="thrust_cmd" to="/wamv/thrusters/moddle_thrust_cmd"/>
      <remap from="angle_cmd" to="/wamv/thrusters/moddle_thrust_angle"/>
    </node>
  </group>

  <!-- Double motor boat -->
  <group if="$(eval arg('boat_type') == 'double')">
  <!-- cpp -->
    <node pkg="auto_drive" type="auto_drive" name="auto_drive_node" output="screen" args="double"> 
          <!-- python -->
    <!-- <node pkg="auto_drive" type="autodrive.py" name="auto_drive_node" output="screen" args="double">   -->
      <param name="boat_type" value="double"/>
      <remap from="left_cmd" to="/wamv/thrusters/left_thrust_cmd"/>
      <remap from="right_cmd" to="/wamv/thrusters/right_thrust_cmd"/>
      <remap from="left_angle" to="/wamv/thrusters/left_thrust_angle"/>
      <remap from="right_angle" to="/wamv/thrusters/right_thrust_angle"/>
      
    </node>
  </group>
<!-- 启动rqt动态调参 -->
  <!-- <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen" /> -->

  <!-- <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam" args="load  /auto_drive  $(find auto_drive)/cfg/PID.cfg" required="true"/> -->
</launch>
